.left-oval-desktop {
  opacity: 0;
  position: absolute;
  top: 80px;
  height: 20vh; }

.left-oval-desktop.down {
  opacity: 0;
  top: 300px; }

.right-oval-desktop {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 80px;
  height: 15vh; }

.right-oval-desktop.down {
  opacity: 0;
  top: 300px; }

.left-oval-testimony {
  position: absolute;
  margin-top: 195px;
  left: 0;
  height: 260px; }

.right-oval-testimony {
  position: absolute;
  right: 0; }

#cotizador {
  color: #fff; }

p.small {
  font: 12px; }

h1.big-title {
  font-size: 48px;
  color: #5b56a6;
  font-weight: 800; }

.title-section {
  font-size: 20px;
  font-weight: 700;
  text-align: center; }

h2.credit-form-title {
  font-size: 16px;
  padding-top: 10px; }

.continua-credito span {
  font-size: 18px;
  color: #999; }

h2.continua-titulo {
  color: #E9B52B;
  padding: 10px 0;
  font-size: 19px;
  text-align: left; }

h2.continua-titulo::after {
  content: '';
  position: absolute;
  top: 75px;
  left: 42%;
  margin-left: -28%;
  width: 9%;
  height: 1px;
  background: #E9B52B; }

.form-group span {
  display: block;
  font-size: 11px;
  padding-left: 5px;
  line-height: 25px; }

span.input-success {
  color: #5b56a6; }

#preguntas-frecuentes h2 {
  color: #D65D98;
  font-weight: 800; }

#preguntas-frecuentes h4 {
  font-weight: 800;
  letter-spacing: 1.5px;
  color: #fff;
  text-align: left;
  font-size: 19px; }

#preguntas-frecuentes p {
  font-weight: 100;
  letter-spacing: 2px;
  color: #fff;
  line-height: 20px;
  text-align: left;
  font-size: 13px;
  padding-top: 12px; }

#preguntas-frecuentes h4::after {
  content: '';
  position: absolute;
  top: 66px;
  left: 43%;
  margin-left: -14%;
  width: 37%;
  height: 2px;
  background: #D65D98; }

span.action {
  font-size: 22px;
  color: #E9B52B; }

h3.section-header {
  font-size: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c5cc24; }

h3.section-header-home {
  font-size: 20px;
  padding: 15px;
  border-left: 1px solid #c5cc24; }

.section-list-title {
  font-size: 12px;
  color: #2B3B46;
  line-height: 16px;
  text-transform: uppercase;
  margin: 10px 0; }

.section-list-item {
  font-size: 18px;
  color: #5b56a6;
  line-height: 24px; }

h3.section-header-home span {
  font-size: 15px;
  color: #5b56a6;
  font-weight: 700; }

h2.section-h {
  color: #5b56a6;
  padding: 30px 0;
  font-size: 24px; }

h2.section-h:before, h2.section-h:after {
  content: '';
  position: absolute;
  top: 90px;
  left: 42%;
  margin-left: -23%;
  width: 24%;
  height: 1px;
  background: #5b56a6; }

h5.status {
  margin: 45px 0 70px;
  text-decoration: underline;
  font-weight: 800; }

#typed {
  font-size: 18px;
  color: #5b56a6;
  padding-top: 20px; }

.questions {
  padding: 20px 0; }

.questions a, .questions a:hover, .questions a:focus {
  color: #333; }

.testimonios h2.light-title {
  color: #fff;
  padding: 0 0 40px 0; }

.steps-header {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #FFFFFF !important; }

.steps-header h2 {
  color: #fff !important;
  font-weight: 900; }

.steps-header span {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100; }

.step h3 {
  font-size: 24px;
  text-align: left; }

.steps-title {
  font-size: 18px;
  padding-top: 60px;
  text-align: left; }

.underline {
  border-bottom: 1px solid #333; }

.steps-info p {
  font-size: 12px;
  padding: 20px 0;
  color: #999;
  text-align: left; }

.person img {
  height: 7em; }

.person p {
  display: inline-block;
  position: relative;
  top: 20px;
  left: 7px; }

.person span {
  display: block;
  font-size: 12px;
  color: #5b56a6; }

.lead {
  padding: 0;
  margin-bottom: 0; }

.lead .title-status, .lead .lead-status {
  font-size: 3.4em;
  color: #ec008c; }

.lead span {
  font-size: 1.6em;
  color: #fff; }

.steps-title-status {
  font-size: 2.5em;
  color: #5b56a6; }

h3.oferta-principal {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  color: #333; }

.instructions {
  font-size: 10px;
  color: #333; }

.item-oferta-principal {
  font-size: 36px;
  color: #ec008c; }

.item-quincena {
  font-size: 36px;
  color: #ec008c; }

h6.title.current {
  position: absolute;
  bottom: 0;
  /* margin: 0 auto; */
  /* text-align: center; */
  margin-left: 50%;
  color: #fff; }

h6 {
  color: #5b56a6; }

.title-status {
  display: none; }

.navbar {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0; }

.navbar-nav > li > a {
  color: #646464 !important; }

.navbar-nav > li > span > img {
  height: 36px; }

.navbar-brand {
  height: 58px;
  padding: 0;
  font-size: 18px;
  line-height: 20px; }

.navbar-brand > img {
  margin: 0 120px;
  height: 50px; }

.desktop-nav-links {
  display: none; }

#desktop-menu {
  display: none; }

.notifications img {
  float: right;
  height: 32px;
  margin: 15px 15px; }

.menuicon img {
  margin: 10px 15px;
  height: 40px; }

.form-nav {
  float: none !important; }

li.url {
  font-weight: bold;
  float: none !important;
  text-align: center; }

li.url a {
  color: #ec008c !important; }

.scrollmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
  text-transform: uppercase;
  box-shadow: 0px 2px 3px #e8e8e8; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #5b56a6;
  border-color: #5b56a6; }

.pagination > li > a, .pagination > li > span {
  color: #5b56a6;
  border: 1px solid #ddd; }

.scrollmenu li {
  list-style-type: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #6c767c;
  text-align: center;
  padding: 14px;
  text-decoration: none; }

.scrollmenu li.active {
  color: #5b56a6;
  font-weight: 600;
  border-bottom: 2px solid #5b56a6; }

.scrollmenu li span {
  display: none; }

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-right: 0;
  margin-left: 0; }

.indexcity {
  z-index: 9999; }

.right {
  right: 170px !important; }

body.nav-expanded .mobile-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1500;
  background-color: #333;
  opacity: 0.9;
  display: block;
  position: fixed; }

span.nav-expander {
  display: block;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.3s ease-in-out 0s;
  width: 90px;
  z-index: 12;
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;
  background: #ec008c; }

span.nav-expander:hover {
  cursor: pointer; }

span.nav-expander.fixed {
  position: fixed; }

span.nav-expander.fixed img {
  height: 60px; }

nav {
  background: #fff;
  display: block;
  color: #333;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 2000;
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s; }

.nav-expanded nav {
  left: 0; }

body.nav-expanded {
  margin-left: 0em;
  transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s; }

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 10px; }

.sidebar-header {
  text-align: center; }

.sidebar-header-logo img {
  height: 50px; }

.sidebar-header-profilepic img {
  height: 50px;
  border-radius: 50%; }

.main-menu {
  padding-top: 12px; }

.main-menu li {
  margin-left: 20px;
  font-size: 18px;
  padding: 12px; }

.main-menu li a {
  color: #333;
  text-decoration: none; }

.main-menu li a:hover {
  text-decoration: none; }

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px; }

.main-menu a .caret {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  border-top: 4px solid #4f5963;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-top: 8px; }

.main-menu a:hover .caret {
  border-top-color: #4f5963; }

.main-menu li.open > a > .caret {
  border-top: none;
  border-bottom: 4px solid #4f5963;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.main-menu li.open > a:hover > .caret {
  border-bottom-color: #4f5963; }

.main-menu li > a > span.icon {
  float: left;
  margin: 0.1em 1.7em -0.1em 0;
  transition: all 0.2s ease-in-out; }

.main-menu li a > span.icon img {
  height: 25px;
  padding-right: 15px; }

.open-menu .btn {
  display: none; }

a:hover .icon-item {
  border: 1px solid #5b56a6; }

.icon-item {
  box-shadow: 0px 0px 10px #e8e8e8;
  height: 75px;
  width: 75px;
  padding: 15px 10px;
  background: #fff; }

.icon-item img {
  height: 36px; }

.icon-item.active {
  border: 1px solid #5b56a6;
  box-shadow: none; }

.credit-text {
  text-align: center;
  margin-top: 5px; }

input.form-control, .form-control:focus {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0px 3px 4px #e8e8e8;
  border: 0; }

.form-group {
  margin-bottom: 15px;
  margin-top: 20px;
  min-height: 90px; }

.footer .icon-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.footer .icon-menu img {
  height: 36px; }

svg.no {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms--transform: rotate(180deg);
  transform: rotate(180deg); }

svg.no path {
  fill: #ea5455 !important; }

svg.svg-menu path {
  fill: #333 !important; }

svg.svg-menu circle {
  stroke: #333 !important; }

label.icon-label {
  text-align: center; }

label.icon-label span {
  padding-left: 20px; }

.img-center {
  height: 120px; }

.pin {
  width: 70px;
  height: 70px;
  border-radius: 50% 50% 50% 0;
  background: #ec008c;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 35px;
  top: 12px;
  margin: -20px 0 0 -20px; }

input[type=checkbox] {
  visibility: hidden; }

input[type=file],
input[type=radio] {
  display: none; }

input:checked + label div {
  border: 1px solid #5b56a6; }

input.valid {
  border-bottom: 2px solid #5b56a6; }

input.invalid {
  border-bottom: 2px solid #ea5455; }

.code-submit {
  text-align: center;
  padding-bottom: 50px; }

.continua-cel-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 3px;
  background: #eee;
  color: #E9B52B;
  text-align: center;
  padding: 7px 0px;
  margin: 15px 0;
  font-size: 18px;
  font-weight: 800; }

.continua-cel-input::-webkit-input-placeholder {
  color: #E9B52B;
  text-align: center; }

.continua-cel-input:-ms-input-placeholder {
  color: #E9B52B;
  text-align: center; }

.continua-cel-input::placeholder {
  color: #E9B52B;
  text-align: center; }

.code-input {
  outline: none;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 54px;
  height: 54px;
  font-size: 24px;
  text-align: center; }

.forma-solicitud .panel {
  box-shadow: none; }

.checkboxForm {
  width: 100%;
  margin: 51px auto;
  position: relative; }
  .checkboxForm label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #5b56a6; }
    .checkboxForm label:after {
      opacity: 0.2;
      content: '';
      position: absolute;
      width: 13px;
      height: 7px;
      background: transparent;
      top: 7px;
      left: 6px;
      border: 2px solid #5b56a6;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .checkboxForm span {
    padding-left: 10px; }

/**
 * Create the hover event of the tick
 */
.checkboxForm label:hover::after {
  opacity: 0.5; }

/**
 * Create the checkbox state for the tick
 */
.checkboxForm input[type=checkbox]:checked + label:after {
  opacity: 1; }

#detalles-solicitud .form-group {
  margin-top: 0; }

select.form-control {
  display: inline-block;
  border: 0;
  box-shadow: 0 3px 4px #e8e8e8; }

.filter-bar .form-group span {
  display: inline-block; }

.form-inline .form-group {
  vertical-align: inherit; }

.date-search {
  margin: 0 20px; }

input.check-status {
  border: 0;
  border-bottom: 1px solid #5b56a6;
  outline: none;
  -webkit-appearance: none;
  font-size: 2em;
  text-align: center;
  color: #5b56a6;
  width: 90%; }

input.check-status::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #5b56a6;
  opacity: 0.3; }

input.check-status:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #5b56a6;
  opacity: 0.3; }

input.check-status::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #5b56a6;
  opacity: 0.3; }

input.check-status:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5b56a6;
  opacity: 0.3; }

input.check-status::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #5b56a6;
  opacity: 0.3; }

.btn-form {
  color: white;
  background-color: #5b56a6;
  padding: 2px 43px; }

.btns-section {
  width: 50%; }

.padding-btns {
  padding: 15px; }

.btn-consulta-credit {
  color: #fff;
  background: #E9B52B;
  font-size: 18px;
  padding: 2px;
  font-weight: lighter;
  letter-spacing: 1px; }

.derecha {
  text-align: right; }

.btn-blue-outline {
  background: #fff;
  color: #5b56a6;
  border: 1px solid #5b56a6; }

.btn-red-outline {
  background: #fff;
  color: #ea5455;
  border: 1px solid #ea5455; }

.btn-consulta {
  background: #ec008c;
  color: #fff; }

.btn-grey {
  background-color: #ddd; }

a {
  border: 0;
  -webkit-appearance: none;
  color: #ddd; }

a:focus,
a:hover {
  color: transparent;
  -webkit-appearance: none;
  text-decoration: none; }

a:focus .doc-info,
a:hover .doc-info {
  border: 1px solid #5b56a6; }

.btn .caret {
  margin-left: 0;
  margin-top: 7px; }

.btn-group {
  margin: 10px; }

.btn-group .btn-default {
  border: 0; }

.btn-group .btn-default:hover {
  color: #5b56a6;
  background-color: #fff; }

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  color: #ea5455;
  background-color: #fff;
  border: 0; }

#btn-solicita-credito-fixed {
  position: fixed;
  top: 14%;
  right: 2%;
  border: 1px solid #5b56a6;
  padding: 4px 12px;
  border-radius: 24px;
  background: #5b56a6;
  color: #fff;
  z-index: 20; }

#btn-solicita-credito-fixed:hover {
  color: #fff;
  background: #5b56a6; }

#btn-consulta-estatus {
  padding-top: 20px; }

.controls .left {
  position: absolute;
  left: -12%;
  top: 56%;
  background: transparent;
  border: 0;
  font-size: 23px;
  color: #fff; }

.controls .right {
  position: absolute;
  right: -12% !important;
  top: 56%;
  background: transparent;
  border: 0;
  font-size: 23px;
  color: #fff; }

.panel-heading a {
  display: none; }

.panel-default {
  border: 0; }

.panel-default > .panel-heading {
  background-color: transparent;
  border: 0;
  text-align: center; }

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: 0; }

.panel.section-panel {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 4px 9px 0;
  border-radius: 16px; }

.panel.section-panel img {
  padding: 15px 0;
  margin: 0 auto; }

span.mobile-only {
  font-size: 20px;
  line-height: 24px; }

a[aria-expanded="false"] + span {
  display: none; }

.swiper-slide .panel {
  background: #fff; }

.swiper-slide .panel p {
  margin: 7px 0 0; }

.credit-proposals-wrapper .panel .panel-header span {
  display: block;
  margin: 8px 0; }

.credit-proposals-wrapper img {
  width: 13%; }

.credit-proposals-wrapper .panel {
  border-radius: 18px; }

.credit-proposals-wrapper .panel .panel-header {
  border-radius: 15px;
  color: #fff;
  text-align: center;
  background-color: #333;
  padding: 15px; }

#credit-proposals ul {
  list-style-type: none; }

.credit-proposals-wrapper .panel.active .panel-header {
  background-color: #5b56a6; }

.credit-proposals-wrapper .panel.panel-red .panel-header {
  background-color: #ea5455; }

.credit-proposals-wrapper .panel.panel-green .panel-header {
  background-color: #c5cc24; }

.credit-proposals-wrapper .panel.panel-dark .panel-header {
  background-color: #303E47; }

.credit-proposals-wrapper .panel .panel-body .list-title {
  font-weight: 800;
  font-size: 16px; }

.credit-proposals-wrapper .panel .panel-body .list-item {
  color: #5b56a6;
  font-weight: 500;
  line-height: 20px; }

.credit-proposals-wrapper .panel .panel-body .list-item-percentage {
  display: block; }

.home .panel-heading {
  border-bottom: 1px solid #ddd; }

.home .panel-heading a {
  float: right;
  color: #5b56a6; }

.dummy-document {
  height: 300px;
  background-color: #ddd;
  border-radius: 8px; }

.dummy-document i {
  color: white;
  padding: 40%; }

.doc-info {
  padding: 20px 0 3px;
  box-shadow: 0 2px 5px 0;
  margin: 12px 0;
  text-align: center;
  background-color: #fff; }

.doc-info i {
  color: #ea5455; }

.doc-name {
  font-weight: 600;
  margin: 14px 0 0;
  color: #5b56a6; }

.doc-date {
  font-size: 12px;
  font-style: italic;
  color: #ddd; }

.testimonio-pic {
  height: 115px;
  position: relative;
  /* margin: 0 auto; */
  /* border-radius: 50%; */
  /* padding: 0 !important; */
  top: 37px;
  /* left: 20%; */ }

.testimony-name-right {
  display: inline-block;
  float: right; }

.testimonio-pic.right-pic {
  left: 41%; }

.btn-oferta-list {
  margin-top: 12px;
  display: block; }

.pin {
  color: #fff; }

.pin img {
  height: 68px; }

#optionsIdPhoto label {
  display: block; }

.only-desktop {
  display: none; }

.contratos {
  min-height: 162px; }

.icon-contratos img {
  height: 100px !important;
  min-height: 160px !important; }

#frente-reverso label {
  display: block; }

/* CSS talk bubble */
.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: 90%;
  height: auto;
  background-color: #5b5098;
  color: #fff; }

.talk-bubble.left {
  margin: 40px 0 !important; }

.border {
  border: 8px solid #666; }

.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px; }

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent; }

.tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0;
  bottom: auto;
  border: 22px solid;
  border-color: #5b5098 transparent transparent transparent; }

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent; }

.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #5b5098 #5b5098 transparent transparent; }

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666; }

.tri-right.btm-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent #5b5098; }

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666; }

.tri-right.btm-left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: #5b5098 transparent transparent #5b5098; }

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent; }

.tri-right.btm-right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: #5b5098 #5b5098 transparent transparent; }

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent; }

.tri-right.btm-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0;
  bottom: -20px;
  border: 12px solid;
  border-color: #5b5098 #5b5098 transparent transparent; }

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666; }

.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #5b5098 transparent transparent #5b5098; }

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent; }

.tri-right.right-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0;
  bottom: auto;
  border: 20px solid;
  border-color: #5b5098 transparent transparent transparent; }

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em; }

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.cuadro-amarillo {
  width: 200px;
  height: 200px;
  background: #E9B52B;
  position: absolute;
  right: 0;
  top: -110px; }

.cuadro-gris {
  width: 100%;
  height: 250px;
  background: #eee; }

.continua-credito {
  position: absolute;
  margin: 0 7%;
  padding: 0 40px;
  height: 315px;
  top: -34px;
  width: 78%;
  background: #fff;
  border: 1px solid #999; }

.swiper-container {
  width: 100%;
  margin: 20px auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }

.swiper-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-overflow-style: none;
  /* Hides the scrollbar. */
  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */
  -ms-scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */ }

.swiper-slide {
  width: 80%; }

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5b56a6;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

.editable-click, a.editable-click, a.editable-click:hover {
  border: 0; }

.verify-list {
  font-size: 18px;
  padding-bottom: 15px;
  color: #5b56a6;
  text-transform: uppercase; }
  .verify-list i {
    float: right; }
  .verify-list .fa-check-circle {
    color: #5b56a6; }
  .verify-list .fa-times-circle {
    color: #ea5455; }
  .verify-list span {
    float: right;
    color: #2C82BE; }

.table > thead > tr > th {
  vertical-align: bottom;
  color: #9B9B9B;
  border: 0;
  font-size: 14px;
  padding: 0 0 8px 8px;
  text-align: center; }

.table > tbody > tr > td {
  border: 0;
  font-size: 14px; }

td a {
  color: #5b56a6; }

.right {
  text-align: right; }

.table.ofertas-table > thead > tr > th {
  vertical-align: bottom;
  color: #5b56a6;
  border: 0;
  font-size: 14px;
  padding: 0 0 8px 8px; }

.table.ofertas-table > tbody > tr > td {
  border: 0;
  font-size: 14px;
  padding-left: 20px; }

.table.ofertas-table > tbody > tr {
  color: #0865CA; }

.table.ofertas-table > tbody > tr:nth-of-type(odd) {
  color: #5b56a6; }

.table-responsive > .fixed-column {
  position: absolute;
  display: inline-block;
  width: auto;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 3px 3px 0 0; }

.table-responsive {
  border: 0; }

.cantidad-ofertas {
  text-align: center; }

.red {
  color: #ea5455 !important; }

.blue-green {
  color: #3CAFCA !important; }

.modal-dialog {
  width: 100%;
  margin-left: 0; }

.modal-content {
  min-height: 100%;
  border-radius: 0; }

.modal-header {
  border: 0; }

.modal-header .close {
  margin-top: 10px;
  margin-right: 30px;
  font-size: 36px;
  color: #5b56a6;
  opacity: 1; }

.modal .panel .panel-body img {
  margin: 0 auto; }

/* Copyright 2013-2015 etc Chris Tabor. See https://github.com/christabor/css-progress-wizard/blob/master/LICENSE for details. */
.flexer, .progress-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.no-flexer, .progress-indicator.stacked {
  display: block; }

.no-flexer-element {
  -ms-flex: 0;
  -moz-flex: 0;
  -webkit-box-flex: 0;
          flex: 0; }

.flexer-element, .progress-indicator > li {
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-box-flex: 1;
          flex: 1; }

.progress-indicator {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: 100;
  letter-spacing: 1px; }
  .progress-indicator > li {
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: #bbb;
    display: block; }
    .progress-indicator > li:hover {
      color: #6f6f6f; }
  .progress-indicator > li .text {
    display: none; }
  .progress-indicator > li .bubble {
    border-radius: 1000px;
    width: 20px;
    height: 20px;
    background-color: #bbb;
    display: block;
    margin: 0 auto 0.5em auto;
    border-bottom: 1px solid #888888; }
  .progress-indicator > li .bubble i {
    position: absolute;
    top: 8px;
    right: 46%; }
  .progress-indicator > li .bubble:before,
  .progress-indicator > li .bubble:after {
    display: block;
    position: absolute;
    top: 9px;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #bbb; }
  .progress-indicator > li .bubble:before {
    left: 0; }
  .progress-indicator > li .bubble:after {
    right: 0; }
  .progress-indicator > li:first-child .bubble:before,
  .progress-indicator > li:first-child .bubble:after {
    width: 50%;
    margin-left: 50%; }
  .progress-indicator > li:last-child .bubble:before,
  .progress-indicator > li:last-child .bubble:after {
    width: 50%;
    margin-right: 50%; }
  .progress-indicator > li.completed {
    color: #0865CA; }
    .progress-indicator > li.completed .bubble {
      background-color: #0865CA;
      color: #0865CA;
      border-color: #021b37; }
      .progress-indicator > li.completed .bubble:before, .progress-indicator > li.completed .bubble:after {
        background-color: #0865CA;
        border-color: #021b37; }
  .progress-indicator > li.active {
    color: #337AB7; }
    .progress-indicator > li.active .bubble {
      background-color: #337AB7;
      color: #337AB7;
      border-color: #122a3f; }
      .progress-indicator > li.active .bubble:before, .progress-indicator > li.active .bubble:after {
        background-color: #337AB7;
        border-color: #122a3f; }
  .progress-indicator > li a:hover .bubble {
    background-color: #5671d0;
    color: #5671d0;
    border-color: #1f306e; }
    .progress-indicator > li a:hover .bubble:before, .progress-indicator > li a:hover .bubble:after {
      background-color: #5671d0;
      border-color: #1f306e; }
  .progress-indicator > li.danger .bubble {
    background-color: #d3140f;
    color: #d3140f;
    border-color: #440605; }
    .progress-indicator > li.danger .bubble:before, .progress-indicator > li.danger .bubble:after {
      background-color: #d3140f;
      border-color: #440605; }
  .progress-indicator > li.warning .bubble {
    background-color: #edb10a;
    color: #edb10a;
    border-color: #5a4304; }
    .progress-indicator > li.warning .bubble:before, .progress-indicator > li.warning .bubble:after {
      background-color: #edb10a;
      border-color: #5a4304; }
  .progress-indicator > li.info .bubble {
    background-color: #5b32d6;
    color: #5b32d6;
    border-color: #25135d; }
    .progress-indicator > li.info .bubble:before, .progress-indicator > li.info .bubble:after {
      background-color: #5b32d6;
      border-color: #25135d; }
  .progress-indicator.stacked > li {
    text-indent: -10px;
    text-align: center;
    display: block; }
  .progress-indicator.stacked > li .bubble:before,
  .progress-indicator.stacked > li .bubble:after {
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%; }
  .progress-indicator.stacked .stacked-text {
    position: relative;
    z-index: 10;
    top: 0;
    margin-left: 60% !important;
    width: 45% !important;
    display: inline-block;
    text-align: left;
    line-height: 1.2em; }
  .progress-indicator.stacked > li a {
    border: none; }
  .progress-indicator.stacked.nocenter > li .bubble {
    margin-left: 0;
    margin-right: 0; }
  .progress-indicator.stacked.nocenter > li .bubble:before,
  .progress-indicator.stacked.nocenter > li .bubble:after {
    left: 10px; }
  .progress-indicator.stacked.nocenter .stacked-text {
    width: auto !important;
    display: block;
    margin-left: 40px !important; }

@media handheld, screen and (max-width: 400px) {
  .progress-indicator {
    font-size: 60%; } }

body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  color: #2B3B46;
  position: relative;
  margin: 0;
  min-height: 100%; }

.form,
.home {
  padding-top: 60px;
  padding-bottom: 15rem; }

.status {
  padding-top: 80px;
  padding-bottom: 20rem; }

.container {
  padding-top: 30px; }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px; }

.steps ul {
  display: none; }

.actions ul {
  list-style-type: none; }

.actions a {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  background-color: #5b56a6;
  padding: 2px 43px;
  -webkit-appearance: none;
  text-decoration: none; }

.footer-title {
  padding-bottom: 30px; }

.footer-title::after {
  content: '';
  position: absolute;
  top: 76px;
  left: 43%;
  margin-left: 5%;
  width: 4%;
  height: 2px;
  background: #D65D98; }

.footer a {
  color: #333; }

.center {
  text-align: center; }

.nav-btn-back {
  color: #5b56a6;
  font-size: 1.2em; }

.nav-btn-back i {
  padding-right: 6px;
  font-size: 1.3em;
  font-weight: 100; }

.add-on input {
  text-align: center;
  width: 100%; }

.add-on .input-group-btn {
  position: absolute; }

.add-on .btn-default {
  border-color: transparent !important; }

.add-on .btn-default:hover {
  background-color: #fff;
  cursor: pointer; }

.add-on .input-group-btn.left {
  top: 4px;
  border: 0;
  left: 0;
  z-index: 4; }

.add-on .input-group-btn.left i {
  color: red; }

.add-on .input-group-btn.right i {
  color: #5b56a6; }

.add-on .input-group-btn.right {
  top: 4px;
  border: 0;
  right: 35px !important;
  z-index: 4; }

/* stop the glowing blue shadow */
.add-on .form-control:focus {
  border-color: #cccccc; }

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff; }

.credit-proposals-wrapper {
  padding-top: 25px; }

#pre-autorizacion p {
  margin: 32px 0; }

.img-title {
  padding-top: 25px; }

.folio-aut {
  padding-bottom: 25px; }

.folio-aut img {
  padding-left: 10px; }

.denegado .title-section {
  padding-bottom: 64px; }

.dropzone {
  border: 1px dashed #5b56a6;
  min-height: 100px;
  border-radius: 8px; }

.dropzone .dz-message span i {
  position: absolute;
  top: 10px;
  right: 23px;
  font-size: 2em;
  color: #5b56a6; }

.profile-pic {
  height: 80px;
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  padding: 0 !important;
  top: -50px;
  left: 35%; }

#photo-label {
  position: absolute;
  right: 30px;
  top: -2px; }

.modal {
  margin: 0 auto; }

.padding-top {
  padding-top: 20px; }

.menu_credit_type .col-xs-6 {
  min-height: 120px; }

.footer p {
  color: #333; }

.footer a:hover {
  color: #5b56a6; }

.step-landing .form-group {
  margin-bottom: 0;
  margin-top: 0;
  min-height: 70px; }

.step-numbers {
  text-align: center;
  font-size: 12px; }

.btn-step {
  font-size: 13px;
  border-radius: 40px;
  padding: 2px 20px; }

.testimonios {
  background: #fff;
  min-height: 450px;
  padding: 0; }

.testimonios .container {
  padding: 0; }

.preguntas-container {
  background: #bababa;
  opacity: 0.9;
  height: 100%;
  margin-top: 50px; }

.question {
  padding: 5px 40px; }

.steps-info img {
  height: 70px;
  right: 50px;
  top: 65px;
  position: absolute;
  opacity: 0.5; }

#cel-credit {
  height: 400px;
  padding-top: 50px;
  text-align: left; }

blockquote {
  border-left: 0;
  padding: 54px 48px; }

blockquote::before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: Georgia, serif;
  font-size: 70px;
  font-weight: bold;
  color: #87B944;
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px; }

blockquote::after {
  content: "\201D";
  /*Unicode for Right Double Quote*/
  /*Font*/
  font-family: Georgia, serif;
  font-size: 70px;
  font-weight: bold;
  color: #87B944;
  /*Positioning*/
  position: absolute;
  right: 10px;
  top: 105px; }

#map {
  width: 100%;
  height: 400px; }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

#cotizador {
  min-height: 110vh;
  background-image: url("../img/family.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.testimony-container {
  min-height: 450px;
  padding: 0; }

#pic-testimony {
  padding-right: 0;
  height: 55%;
  background-image: url(../img/profile.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.testimony-name {
  padding: 5px 12px;
  background: #DDDCDC;
  min-height: 165px; }

.testimony-name h2 {
  color: #87B944;
  font-size: 18px; }

.testimony-name h2::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 59%;
  margin-left: -33%;
  width: 21%;
  height: 1px;
  background: #999; }

.testimony-name span {
  color: #fff;
  font-size: 18px; }

.testimony-name.active span {
  color: #DDDCDC; }

.testimony-name.active h2 {
  color: #fff; }

.testimony-name.active {
  background: #87B944; }

#cotizador-container {
  background-color: rgba(200, 28, 120, 0.5); }

#searchInput {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 50%; }

#searchInput:focus {
  border-color: #4d90fe; }

#pasos-credito {
  background: #56539B;
  padding-bottom: 70px; }

.step {
  background: #fff;
  padding: 20px;
  margin: 5px 25px; }

#preguntas-frecuentes {
  background-image: url("../img/buildings.jpg");
  height: 200vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.float-right {
  float: right; }

/* importamos responsive al final */
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 1115px) {
  span.nav-expander {
    display: none; }
  #desktop-menu {
    float: left;
    display: block;
    margin: 0 60px; }
  .navbar-brand > img {
    margin: 0 auto !important; }
  .navbar {
    background-color: #fff;
    box-shadow: 0 4px 2px -2px #ccc;
    border: 0;
    height: 80px; }
  .navbar-brand {
    position: absolute;
    left: 43%;
    top: 7px;
    margin: 0 30px; }
  #desktop-menu li:not(:nth-of-type(2)):not(:last-child):after {
    content: '|';
    position: relative;
    top: -2px;
    padding-right: 8px;
    color: #C81C78; }
  #desktop-menu li:nth-of-type(1) {
    margin-left: 150px; }
  #desktop-menu li:nth-of-type(3) {
    margin-left: 220px; }
  .navbar-nav > li > span > img {
    height: 25px; } }

@media (min-width: 801px) {
  body {
    background: repeating-linear-gradient(45deg, #fcfbfb, #fff 2px, #fff 2px, #fcfbfb 3px); }
  .desktop-nav-links {
    display: block; }
  #menu-mobile {
    display: none; }
  #nav-close {
    display: none; }
  #cotizador {
    min-height: 110vh; }
  .lead {
    padding: 60px 0; }
  .step {
    background: #fff;
    padding: 20px;
    margin: 18px 3px; }
  .step:hover {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
  .home {
    padding-top: 60px;
    padding-bottom: 15rem; }
  #preguntas-frecuentes {
    height: 100%; }
  #preguntas-frecuentes h4 {
    font-weight: 800;
    letter-spacing: 2.5px;
    color: #fff;
    text-align: left;
    font-size: 19px; }
  .question {
    padding: 20px 40px; }
  #preguntas-frecuentes h4::after {
    content: '';
    top: 76px; }
  .testimony-name h2::after {
    top: 111px; }
  .testimony-quotes {
    padding-left: 0; }
  #preguntas-frecuentes p {
    font-weight: 100;
    letter-spacing: 2px;
    color: #fff;
    line-height: 23px;
    text-align: left;
    font-size: 12px;
    padding-top: 25px; }
  .cuadro-amarillo {
    width: 300px;
    height: 300px;
    background: #E9B52B;
    position: absolute;
    right: 84px;
    top: -142px; }
  h2.continua-titulo {
    color: #E9B52B;
    padding: 20px 0;
    font-size: 24px;
    text-align: left; }
  .continua-credito {
    position: absolute;
    margin: 0 13%;
    padding: 0 40px;
    height: 248px;
    top: -34px;
    width: 72%;
    background: #fff;
    border: 1px solid #999; }
  .continua-cel-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 3px;
    background: #eee;
    color: #E9B52B;
    text-align: center;
    padding: 5px 30px;
    margin: 20px; }
  #pic-testimony {
    padding-right: 0;
    height: 100%;
    background-image: url("../img/profile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .testimonios {
    height: 450px;
    padding: 0 20px; }
  .testimony-name {
    padding: 50px 20px; }
  .testimony-name span {
    font-size: 24px; }
  .testimony-name h2 {
    font-size: 30px; }
  .border-hover {
    width: 64%;
    top: 18px;
    right: 18px;
    height: 13px;
    background: #D65D98;
    position: absolute;
    opacity: 0; }
  .step:hover .border-hover {
    opacity: 1; }
  .navbar-nav {
    float: right; }
  .navbar-nav > li > a {
    line-height: 50px; }
  .nav > li > a {
    display: inline-block;
    padding: 15px 15px 15px 5px !important; }
  nav {
    box-shadow: 2px 0 2px -2px #ccc;
    width: 12em;
    left: -6em; }
  .left-oval-desktop {
    opacity: 1;
    height: 50vh; }
  .left-oval-desktop.down {
    opacity: 1; }
  .right-oval-desktop.down {
    opacity: 1; }
  .right-oval-desktop {
    opacity: 1;
    height: 50vh; }
  .checkboxForm {
    width: 67%; }
  .mobile-only {
    display: none; }
  .panel-heading a {
    display: block; }
  .panel.section-panel {
    margin-top: 20px;
    box-shadow: 0 4px 9px 0;
    border-radius: 16px; }
  .panel.section-panel img {
    padding: 15px 0; }
  .desktop-nav-links {
    padding-left: 6em;
    /* padding-top: 1em; */
    margin: 10px 2px; }
  .desktop-nav-links .notifications img {
    float: right;
    height: 32px;
    padding-right: 2em; }
  .desktop-nav-links .search {
    padding-top: 1em; }
  .floating-icon {
    position: fixed;
    z-index: 2100; }
  span.open-menu .btn {
    color: #5b56a6;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 10px 4px;
    box-shadow: 0 2px 3px #e8e8e8; }
  .btn.active.focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn:active:focus,
  .btn:focus {
    outline: none; }
  span.open-menu .btn i {
    font-size: 18px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms--transform: rotate(90deg);
    transform: rotate(90deg); }
  .nav-expanded span.open-menu .btn i {
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -ms--transform: rotate(270deg);
    transform: rotate(270deg); }
  .icon-item {
    box-shadow: 0 0 10px #e8e8e8;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    height: 70px;
    background: #fff; }
  .sidebar-header p,
  .sidebar-header-profilepic {
    display: none; }
  ul.nav.navbar-nav li.profile img {
    height: 64px;
    border-radius: 50%; }
  ul.nav.navbar-nav li.profile-name {
    margin: 1em;
    top: 5px;
    font-weight: 600; }
  .sidebar-header {
    text-align: right; }
  .sidebar-header-profilepic img {
    height: 50px;
    border-radius: 50%; }
  .sidebar-header img {
    height: 30px;
    padding-right: 15px; }
  .sidebar-header-logo {
    padding-top: 15px;
    padding-bottom: 20px; }
  .main-menu li {
    margin-left: 0;
    font-size: 14px;
    padding-right: 16px;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .nav-expanded .main-menu li:hover {
    border-left: 3px solid #5b56a6;
    border-right: 0; }
  .main-menu li:hover {
    border-right: 3px solid #5b56a6; }
  .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-menu li a span.menu-text {
    display: none; }
  .nav-btn-back {
    display: none; }
  span.icon img {
    display: inline-block;
    text-align: center; }
  .nav-expanded .sidebar-header {
    text-align: center; }
  .nav-expanded .main-menu li a span.menu-text {
    display: block; }
  .nav-expanded span.icon {
    text-align: center; }
  .nav-expanded span.icon img {
    padding: 0 !important; }
  .nav-expanded .main-menu li a > span.icon img {
    float: none; }
  .nav-expanded span.icon img {
    display: inline-block;
    text-align: center; }
  .nav-expanded span.icon {
    text-align: center; }
  .nav-expanded span.icon img {
    padding: 0 !important; }
  .main-menu li a > span.icon {
    width: 100%;
    display: inline-block;
    transition: all 0.2s ease-in-out; }
  .main-menu li a > span.icon img {
    float: right;
    height: 25px;
    padding-right: 15px; }
  .open-menu .btn {
    display: block; }
  body.nav-expanded .mobile-wrapper {
    display: none; }
  .title-section {
    font-size: 16px; }
  .testimonio-pic {
    height: 100px;
    position: relative;
    /* margin: 0 auto; */
    /* border-radius: 50%; */
    padding: 0 !important;
    top: 37px;
    /* left: 20%; */ }
  .scrollmenu {
    text-transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .scrollmenu li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 20px; }
  .scrollmenu li.active {
    color: #5b56a6;
    border-bottom: 2px solid #5b56a6; }
  .scrollmenu li span {
    display: inline-block; }
  .credit-promo {
    margin: 0 auto; }
  .swiper-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .swiper-slide {
    width: 30%; }
  .panel {
    background-color: transparent; }
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent; }
  .panel-default,
  .panel-group .panel-heading + .panel-collapse > .list-group,
  .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 0; }
  .panel-default > .panel-heading {
    border: 1px solid #5b56a6;
    text-align: center;
    background-color: transparent; }
  .panel-title i {
    float: right;
    color: #5b56a6; }
  .code-input {
    font-size: 48px;
    width: 64px;
    height: 64px;
    color: #333; }
  .chart-row {
    padding-top: 40px; }
  #btn-solicita-credito-fixed {
    top: 15%; }
  .controls .left {
    left: 25%; }
  .controls .right {
    right: 25% !important; }
  .panel-heading a:focus,
  .panel-heading a:hover {
    color: #333; }
  .modal-dialog {
    width: 87%;
    margin-left: 10%; }
  .only-mobile {
    display: none; }
  .only-desktop {
    display: block; }
  .progress-indicator li .text {
    display: block; }
  .steps-title-status {
    display: none; }
  #typed {
    font-size: 36px; }
  .table-responsive > .fixed-column {
    display: none; }
  .table.ofertas-table > tbody > tr > td {
    padding-left: 0; }
  .table.ofertas-table > thead > tr > th.title-ofertas {
    padding-left: 0; }
  .title-status {
    display: block; } }

@media (min-width: 1201px) {
  .nav > li > a {
    display: inline-block;
    padding: 15px 30px 15px 5px; }
  .navbar-nav > li > span > img {
    height: 36px; }
  .navbar-header {
    float: left; } }

/*# sourceMappingURL=style.css.map */
