.left-oval-desktop {
  position: absolute;
  top: 80px;
  height: 20vh;
}

.right-oval-desktop {
  position: absolute;
  right: 0;
  top: 300px;
  height: 15vh;
}

.left-oval-testimony {
  position: absolute;
  margin-top: 195px;
  left: 0;
  height: 260px;
}

.right-oval-testimony {
  position: absolute;
  right: 0;
}
