.swiper-container {
	width: 100%;
	margin: 20px auto;
	height: fit-content;
}

.swiper-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	// min-height: 1200px;
	height: fit-content;
	-ms-overflow-style: none;
	/* Hides the scrollbar. */
	-ms-scroll-chaining: none;
	/* Prevents Metro from swiping to the next tab or app. */
	-ms-scroll-snap-type: mandatory;
	/* Forces a snap scroll behavior on your images. */
	-ms-scroll-snap-points-x: snapInterval(0%, 100%);
	/* Defines the y and x intervals to snap to when scrolling. */
}

.swiper-slide {
	width: 80%;
}
